[color]
	ui = auto
[user]
	email = nicholas.wang.h@gmail.com
	name = haotongwang
[alias]
	ca = commit -a
	st = status -sb
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	cam = commit -am
	c = commit
	dv = difftool -t vimdiff -y
	gl = config --global -l
	search = !git rev-list --all | xargs git grep -F
	caam = !git add -A && git commit -m
	caa = !git add -A && git commit
	aa = add -A
	amend = commit --amend --no-edit
	new = checkout -b
	sup = submodule update --init --recursive --remote
	prune-all = !git remote | xargs -n 1 git remote prune
	p = push
	caf = commit -a --fixup
	cf = commit --fixup
	ro = rebase --onto
	ri = rebase -i
	rc = rebase --continue
	rif = rebase -i --autosquash
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[core]
	editor = vim
[init]
	defaultBranch = main
[credential]
	helper = store
